@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3; 
}
.container { 
    margin: auto;
    text-align: center;
    padding: 20px; 
}
h1 {
    font-size: 1.5rem; 
    margin-bottom: 20px;
    line-height: 1.5;
}
.poster {
    justify-content: center;
    width: 390px;
    height:  557px;
}
.poster img{
    width: 390px;
    height:  557px;
}

.botoes{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem; 
    margin-bottom: 20px;
    line-height: 1.5;
}

.botoes button{
    background-color: rgb(96, 169, 202);
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem; 
    margin-bottom: 35px;
    padding: 15px;
    border-radius: 20px;
    line-height: 1.5;
}

.botoes a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem; 
    margin-bottom: 20px;
    line-height: 1.5;
}

.text1{
    color: rgb(30, 175, 30);
    padding: 15px;
    border: 3px , solid, rgb(30, 175, 30);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
}
.text2{
    color: rgb(87, 85, 117);
    padding: 15px;
    border: 3px , solid, rgb(20, 44, 204);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
}
.text3{
    color: rgb(255, 255, 255);
    padding: 15px;
    border: 3px , solid, rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
    line-height: 1.5;
}
.text4{
    color: rgb(57, 57, 57);
    padding: 15px;
    border: 3px , solid, rgb(255, 190, 40);
    border-radius: 10px;
    background-color: rgb(243, 227, 204);
    line-height: 1.5;
}
.text5{
    color: rgb(41, 41, 41);
    padding: 15px;
    border: 3px , solid, rgb(255, 190, 40);
    border-radius: 10px;
    background-color: rgb(233, 222, 182);
    line-height: 1.5;
}
.text6{
    color: rgb(75, 150, 75);
    padding: 15px;
    border: 3px , solid, #71df71;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
}
.text7{
    color: rgb(147, 70, 223);
    padding: 15px;
    border: 3px , solid, rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
}
.text8{
    color: rgb(30, 175, 30);
    padding: 15px;
    border: 3px , solid, rgb(30, 175, 30);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
}
.text9{
    color: rgb(30, 52, 175);
    padding: 15px;
    border: 3px , solid, rgb(30, 110, 175);
    border-radius: 10px;
    background-color: rgb(237, 231, 201);
    line-height: 1.5;
}
.text10{
    color: rgb(30, 49, 175);
    padding: 15px;
    border: 3px , solid, rgb(32, 30, 175);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
}

.poster{-webkit-animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both}
